._chatbox{
    position: relative;
    width: 100%;
    height: calc(100vh - 160px);
    padding: 100px;
    overflow-y: auto;
}
.message1{
    position: relative;
    display: flex ;
    justify-content: flex-end;
    width: 100%;
    margin: 5px 0;
    
}
.message2{
    position: relative;
    display: flex ;
    justify-content: flex-start;
    width: 100%;
    margin: 5px 0;
}
.message1 ._p{
    position: relative;
    text-align: right;
    max-width: 65%;
    padding: 5px;
    justify-content: flex-end;
    background: #dcf8dc;
    border-radius: 10px;
    font-size: 0.9em;
}
.message1 ._p ._name{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 70px;
}
.message2 ._p ._name{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 70px;
}
.message2 ._p{
    position: relative;
    right: 0;
    max-width: 65%;
    padding: 5px;
    background: #fff;
    text-align: left;
    border-radius: 10px;
    font-size: 0.9em;
}

.message1 ._p::before{
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background:linear-gradient(135deg,#dcf8dc 0%,#dcf8dc 50%,transparent 50%,transparent);

}
.message1 ._p span{
    display: block;
    margin-top: -10px;
    font-size: 0.8em;
    opacity: 0.5;
    color: #555;
}
.message2 ._p::before{
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background:linear-gradient(225deg,#fff 0%,#fff 50%,transparent 50%,transparent);

}
.message2 ._p span{
    display: block;
    margin-top: -10px;
    text-align: end;
    font-size: 0.8em;
    opacity: 0.5;
    color: #555;
}
